@model IEnumerable<BillingSystem.Core.Entities.BillDetail>

@{
	ViewData["Title"] = "Detalles | Facturas";
}

<h1>Detalles</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductDescription)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Taxes)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitPrice)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Quantity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductDescription)
				</td>
				<td>
					@((item.Taxes * item.Quantity).ToString("C"))
				</td>
				<td>
					@((item.UnitPrice * item.Quantity).ToString("C"))
				</td>
			</tr>
		}
	</tbody>
</table>

<div>
	<a asp-action="Index">Volver al listado</a>
</div>
