@model IEnumerable<BillingSystem.Core.Entities.Product>

@{
	ViewData["Title"] = "Productos";
}

<h1>@ViewData["Title"]</h1>

<p>
	<a asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stock)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitPrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Stock)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
				</td>
			</tr>
		}
	</tbody>
</table>
